<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/board/selectByBNo.css">
</head>
<body>
<div id="wrap">
<h1>게시물 상세 페이지</h1>

    <div class="row">
        <div>번호</div>
        <div>[[${boardOne.bNo}]]</div>
    </div>

    <div class="row">
        <div>
            <div>제목</div>
            <div>[[${boardOne.bTitle}]]</div>
        </div>

        <div>
            <div>분류</div>
            <div>[[${boardOne.bDivide}]]</div>
        </div>

    </div>

    <div class="row">
        <div>작성자</div>
        <div>[[${boardOne.bWriter}]]</div>
    </div>


    <div class="row">
        <div>
            <div>작성일</div>
            <div>[[${boardOne.bRegdate}]]</div>
        </div>
        <div>
            <div>조회</div>
            <div>[[${boardOne.bViewcnt}]]</div>
        </div>
        <div>
            <div>좋아요</div>
            <div>[[${boardOne.bLike}]]</div>
        </div>

    </div>

    <div class="row">
        <div>내용</div>
        <input type="hidden" name="testCon" id="testCon" th:value="${boardOne.bContent}">
        <div id="innerCon">



        </div>
    </div>

    <div class="row">
        <div><a th:href="@{/board/update?bNo=}+${boardOne.bNo}">수정하기</a></div>
        <div><a th:href="@{/board/delete?bNo=}+${boardOne.bNo}">삭제하기</a></div>
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</body>
<script>

    $(function(){


        var test = $("#testCon").val();

        $("#innerCon").html(test);


    })

</script>




</html>